body{
    background-color: black;
    color: white;
}
.carousel-inner{
    display: inline-block;
    /* width: 20vw; */
    /* height: 50vh;
    
    position: relative;
    justify-content: center; */
}
.banner{
    background-size: cover;
    background-image: url(../Pictures/married.jpg);
    background-repeat: no-repeat;
    width: 120vw;
    height: 80vh;

}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: orangered;
}
.tab-content{
    color: bisque;
}
.row .main{
    margin-bottom: 10px;
    text-align: center;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top:83px ;
  
}
.row .names{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bolder;
}


.pride,h3{
    color: tan;
    font-size: 25px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-top: 10px;
}
.pride img{
    border: 1px solid tan;
    border-radius: 5px;
}
.row .date_time{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* h3{
    margin-left: 330px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: tan;
    margin-left: 35px;
    text-align: center;
} */
/* .details{
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    height: 900px;
} */

img{
    max-width: 100%;
    border-radius:5px ;
}
/* button .btn-dark{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 35px;
} */

.footer{
    color : rgba(211, 206, 206, 0.836);
    font-size: 15px;
    background-color: black;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    /* position: fixed; */
    bottom: 0;
    /* height: 200px; */
    /* width: 100%; */
    /* position: absolute; */
}
.social{
    /* background-color: blueviolet; */
    color: white;
}
.social i{
    padding: 10px;
}


/* Media Query */
@media screen and (max-width:575.999px) {

    .details,h3,.pride{
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center; 
        margin-top: 5px;
    }
 .right{
     background-color: orangered;
     margin-left: 0;
     margin-right: 0;
     display: block;
 }


}

@media screen and (min-width:576px) and (max-width:767.999px) {
    .details,h3,.pride{
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center; 
        margin-top: 5px;
    }
    /* .all{
        margin-left: -200px;
        margin-right: -200px;
    }
     */
}

@media screen and (min-width:768px) and (max-width:991.999px){
    .details,h3,.pride{
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center; 
        margin-top: 5px;
    }

    .pride span{
        display: block;
    }

  /* .all{
      margin: -200px;
      
  } */
}

@media screen and (min-width:992px) {
    .all{
        margin-left: -110px;
    }
    .pride span{
        text-align: center;
        display: none;
        /* justify-content: center; */
    }
    
}